*{
    font-family: 'Montserrat', sans-serif;
    
}

.footer {
    padding: 0;
    margin: 0;
    background-color: #000;
    display: flex;

}

.main-text {
    font-size: 25px;
    padding: 50px;
    padding-left: 150px;
    color: #696969;
}
.main-text h6 {
    color: #fff;
    padding-top: 100px;
    text-align: center;

}

.main-text span {
    color: #ffffff;
    font-size: 35px;
    
}

.linha-separadora {
    margin: 0px 0; /* Espaçamento acima e abaixo da linha */
    margin-left: 5px;
    margin-right: 150px;
    border: none; /* Remove a borda padrão */
    height: 1px; /* Altura da linha */
    background-color: #ffffff; /* Cor da linha (neste caso, preto) */
    width: 1500px;
}

.content {
    color: white;
}

@media screen and (max-width: 768px) {
    .main-text {
        margin: 0;
        padding: 0;
    }

    .main-text h1 {
        font-size: 20px;
        padding: 0;
        margin: 20px 0 20px 20px;

    }

    .main-text span {
        font-size: 20px;
        padding-top: 5px;
    }

    h6 {
        font-size: 10px;
        display: flex;
        color: #fff;
        justify-content: flex-start;
        padding-left: 250px;
        padding-bottom: 5px;
        margin: 0 0 0 0;
       
    }

    .linha-separadora {
    margin: 0px 0; /* Espaçamento acima e abaixo da linha */
    margin-left: 20px;
    margin-right: 150px;
    border: none; /* Remove a borda padrão */
    height: 1px; /* Altura da linha */
    background-color: #ffffff; /* Cor da linha (neste caso, preto) */
    width: 720px;
}

}

@media screen and (max-width: 480px) {
    .footer {
        width: auto;
        height: 200px;
        padding: 0;
    }

    .main-text {
        margin: 0;
        padding: 0;
    }

    .main-text h1 {
        font-size: 25px;
        padding: 0;
        margin: 15px 0 15px 15px;
    }

    .main-text span {
        font-size: 25px;
        padding-top: 5px;
    }

    .copyright h6{
        font-size: 10px;
        color: #fff;
        justify-content: center;
        padding-top: 50px;
        
    }

    .linha-separadora {
    margin-left: 10px;
    margin-right: 10px;
    border: none; /* Remove a borda padrão */
    height: 0.5px; /* Altura da linha */
    background-color: #ffffff; /* Cor da linha */
    width: 95%;
    position: absolute;
    }
}