*{
    font-family: 'Montserrat', sans-serif;
    
}

.footer {
    padding: 0;
    margin:0 ;
    height: 300px;
    background-color: #000;
    display: flex;

}

.main-text {
    font-size: 25px;
    padding: 50px;
    padding-left: 150px;
    color: #5a5a5a;
}

.main-text span {
    color: #fff;
    font-size: 27px;
    
}

.linha-separadora {
    margin: 0px 0; /* Espaçamento acima e abaixo da linha */
    margin-left: 150px;
    margin-right: 150px;
    border: none; /* Remove a borda padrão */
    height: 1px; /* Altura da linha */
    background-color: #ffffff; /* Cor da linha (neste caso, preto) */
    width: 1250px;
}
.content-copy {
    padding-top: 95px;
    font-size: 10px;
    color:#ffffff;
    text-align: center;
}

.content {
    color: white;
}