* {
  font-family: "Montserrat", sans-serif;
  padding: 0;
  margin: 0;
}
.container-header {
  height: 380px;
}
.Section1 {
  text-align: justify;
  font-size: 25px;
  font-weight: 600;
  color: rgb(255, 255, 255);
  margin-left: 195px;
  padding-top: 450px;
}

@media screen and (max-width:1200px) {
  .Section1 {
    display: grid;
    font-size: 20px;
    padding-top: 25%;
    padding-right: 500px;
    margin: 0 0 0 90px;
  }
}

@media screen and (max-width: 768px) {
  .Section1 {
    display: grid;
    font-size: 10px;
    padding-top: 25%;
    padding-right: 200px;
  }
}

@media screen and (max-width: 480px) {
  .Section1 h1 {
      color: rgb(255, 255, 255);
      font-size: 27px;
      display: flex;
      padding-top: 20px;
      padding-left: 10px;
      text-align: start;
    
  }
}
