*{
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
}
.container-header {
    height: 380px;
}
.Section1 {
    text-align: justify;
    font-size: 35px;
    font-weight: 600;
    color: white;
    margin-left: 195px;
    padding-top: 450px;
}

@media screen and (max-width: 768px) {

    .Section1 {
        display: grid;
        font-size: 10px;
        padding-top: 25%;
        padding-right: 200px;
    }
}