body {
  overflow-x: hidden; /* Oculta a barra de rolagem horizontal */
  max-width: 100%; /* Define a largura máxima do corpo para o tamanho da janela de visualização */
  margin-bottom: 0;
  font-family: "Montserrat", sans-serif;
  padding: 0;
  margin: 0;
}

.logo {
  position: absolute;
  width: 250px;
  display: flex;
  justify-content: left;
  padding: 70px 0 0 0;
  margin: 0 0 0 200px;
  z-index: 1;

}

.container {
  position: relative;
}

/* Estilos da barra de navegação */
.navbar {
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent; /* Cor de fundo com transparência */
}

.navList {
  display: flex;
  justify-content: right;
  padding-top: 0;
  padding-right: 300px;
  margin: 0 0 0 0;
}

.navList li {
  text-align: center;
  list-style-type: none;
}

.navList li .btn1,
.btn2,
.btn3 {
  font-family: "Montserrat", sans-serif;
  font-size: 19px;
  font-weight: bold;
  background-color: transparent;
  color: white;
  border-radius: 5px;
  padding: 20px 30px;
  margin: 60px 15px 0;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease; /* Adiciona uma transição suave */
}

.navList li button:hover {
  background-color: rgb(0, 0, 0);
  color: white;
}

.header {
  position: relative;
  z-index: 1;
}

/* ESTILOS BACKGROUNDS */
.background-img {
  width: 100%;
  opacity: 1;
  transition: opacity 2s ease;
}

.background {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  overflow: hidden;
}

.background-img.hidden {
  opacity: 0;
}

.background-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 47%;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 10%,
    rgba(0, 0, 0, 0.1) 15%,
    rgba(0, 0, 0, 1) 60%
  );
}

.c-element {
  width: 100%;
  height: 100px; /* altura da faixa */
  background-color: #000000; /* cor de fundo da faixa */
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 20px;
}
.element2 h1 {
  color: white;
}

.element2 {
  border-top-left-radius: 10px; /* Arredonda o canto superior esquerdo */
  border-top-right-radius: 10px; /* Arredonda o canto superior direito */
  position: absolute; /* Faz a faixa menor ser posicionada de forma absoluta */
  width: 50%; /* metade do tamanho da faixa principal */
  height: 100px; /* altura da faixa menor */
  background-color: rgb(18, 18, 18); /* cor de fundo da faixa menor */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  text-align: center;
}

.Icon {
  padding-left: 10px;
  width: 50px;
}

/* ESTILOS DA ABA LOTES */
.lotes {
  background-color: white;
  height: 1000px;
  padding-top: 50px;
  /* background-image: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 85%, rgba(0, 0, 0, 1) 100%); */
}

.lotes h1 {
  padding-top: 30px;
  padding-left: 100px;
  color: rgb(255, 255, 255);
}

html {
  scroll-behavior: smooth;
}

/* Estilos para a barra de rolagem */
/* Tamanho da barra de rolagem */
::-webkit-scrollbar {
  width: 15px;
}

/* Estilo da trilha da barra de rolagem */
::-webkit-scrollbar-track {
  background-color: #000000; /* Cor de fundo */
}

/* Estilo do botão de rolagem */
::-webkit-scrollbar-thumb {
  background-color: #3d3d3d; /* Cor do botão */
}

/* Estilo do botão de rolagem quando hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #747474; /* Cor do botão quando hover */
}

.mobile-menu-icon {
  display: none;
}

.mobile-menu {
    display: none;
}
.navList2 {
  display: none;
}

.logo-small {
  display: none;
}

/* MEDIA QUERRY RESPONSIVIDADE*/
@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden; /* Oculta a barra de rolagem horizontal */
    max-width: 100%;
  }
 
  .navList li button:hover {
    color: white;
  }
  .navList {
    padding: 10px;
    margin: 0;
  }

  .navList li button {
    font-size: 10px;
    margin: 0 10px 0 0;
  }

  .logo {
    width: 20%;
    padding-top:27px;
    padding-left: 0;
  }

  .Section1 {
    /* padding: 0; */
    margin: 0 0 0 75px;
  }

  .element2 h1 {
    font-size: 20px;
  }
  .background-img.hidden {
    opacity: 0;
  }

  .background-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 57%;
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 5%,
      rgba(0, 0, 0, 0.1) 15%,
      rgba(0, 0, 0, 1) 45%
    );
  }
}

.hamburguer hamburguerIcon {
  display: none;
}

@media screen and (max-width: 480px) {
  body {
    overflow-x: hidden;
    max-width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }


  .list {
    display: flex;
    flex-direction: column;
    left: 1%;
    margin: 45px 0 0;
    flex-wrap: nowrap;
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
  }

  .list .listItems {
    padding: 0;
    list-style: none;
  }

  .list .listItems li {
    margin: 2px 0;
  }

  .list .listItems li:hover {
    margin: 2px 0;
  }

  .navList li button:hover {
    color: white;
  }

  .navList {
    display: none;
  }

  .logo {
    display: none;
  }

  .mobile-menu {
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
  }

  .logo-small {
    display: flex;
    width: 200px;
    padding-top:19px;
    margin-left:230px;
  }

  .menu {
    width: 30px;
    color: white;

  }

  .Section1 {
    font-size: 17px;
    padding: 300px 0 0 0 ;
    margin: 0 40px 0 30px;
  }

  .container-header {
    height: 800px;
  }
  
.background-img {
  width: 800px;
  height: 700px;
}

 .background-img.hidden {
    opacity: 0;
    
  }

  .background {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    overflow: hidden;
  }

  .background-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 45%;
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 5%,
      rgba(0, 0, 0, 0.1) 20%,
      rgba(0, 0, 0, 1) 61%
    );
  }

  .c-element {
    margin: 0 0 0 0;
    height: 50px;
  }

  .element2 {
    height: 50px;
  }

  .element2 h2 {
    font-size: 15px;
    color: white;
  }

  .Icon {
    padding-left: 10px;
    width: 30px;
    color: white;
  }
}
